<!-- Page Headings Start -->
<div class="row justify-content-between align-items-center mb-10">
  <!-- Page Heading Start -->
  <div class="col-12 col-lg-auto mb-20">
    <div class="page-heading">
      <h3 class="title">تنظیمات</h3>
    </div>
  </div>
  <!-- Page Heading End -->

  <!-- Page Button Group End -->
</div>
<!-- Page Headings End -->

<div class="row mbn-30">
  <!-- Revenue Statistics Chart Start -->
  <div class="col-md-12 mb-30">
    <div class="box">
      <div class="box-head">
        <div class="row">
          <h4 class="title">تنظیمات بلاگ</h4>
        </div>
      </div>
      <div class="box-body">
        <form action="/admin/settings" method="POST">
          <div class="row mbn-20">
            <div class="col-12 mb-20">
              <div class="row mbn-20">
                <div class="col-lg-6 mb-20">
                  <label for="formLayoutCity1">عمومی</label>
                  <input name="website_name" type="text" id="formLayoutCity1" class="form-control" value="{{settings.website_name}}" placeholder="عنوان وبسایت" />
                </div>

                <div class="col-lg-6 mb-20">
                  <label for="formLayoutZip1">محتوا</label>
                  <input name="posts_per_page"  type="text" id="formLayoutZip1" class="form-control" value="{{settings.posts_per_page}}" placeholder="10" />
                </div>
              </div>
            </div>

            <div class="col-12 mb-20">
              <textarea name="website_discription" id="formLayoutMessage1" class="form-control"  placeholder="توضیحات وبسایت" rows="3">{{settings.website_discription}}</textarea>
            </div>

            <div class="col-12 mb-20">
              <h6 class="mb-15">سایر تنظیمات</h6>

              <div class="adomx-checkbox-radio-group">
                <label class="adomx-checkbox primary"><input {{#isChecked users_can_register}}checked{{/isChecked}} name="users_can_register" value="1" type="checkbox" checked="" /> <i class="icon"></i> هر کس می تواند ثبت نام کند</label>
                <label class="adomx-checkbox primary"><input {{#isChecked users_can_submit_comment}}checked{{/isChecked}} value="1" name="users_can_submit_comment" type="checkbox" checked="" /> <i class="icon"></i> کاربران می توانند دیدگاه‌ ثبت کنند</label>
              </div>
            </div>

            <div class="col-12 mb-20">
              <input type="submit" value="ذخیره سازی" class="button button-primary" />
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <!-- Revenue Statistics Chart End -->
</div>